<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/mvc	
         http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
	<!--扫描所有的包 -->
	<context:component-scan base-package="team.waibao"></context:component-scan>
	<!--连接数据库所需要的信息 -->
	<context:property-placeholder location="classpath:propertisFile/jdbc.properties" />
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close" 
		p:driverClassName="${jdbc.driver}" 
		p:url="${jdbc.url}"
		p:username="${jdbc.userName}"
	    p:password="${jdbc.password}" />
		
	<!-- 配置SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 指定数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 指定Mybatis配置文件的路径 -->
		<property name="configLocation" value="classpath:config/mybatis-config.xml"></property>
	</bean>
		<!-- 配置mapper的扫描包 -->
     <!-- 去bean的时候，的规则：bean的名字=原先类的类名小写 -->
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="team.waibao.dao"></property>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
		</bean>
	<!-- 配置事务管理器 -->
	<bean id="transactionManager"    
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 事务扫描开始（开启@Tranctional) -->   
	<tx:advice id="txadvice" transaction-manager="transactionManager">
    <tx:attributes>
        <tx:method name="add*" propagation="REQUIRED" rollback-for="Exception"/>
        <tx:method name="update*" propagation="REQUIRED" rollback-for="Exception" />
        <tx:method name="del*" propagation="REQUIRED" rollback-for="Exception"/>
        <tx:method name="reduce*" propagation="REQUIRED" rollback-for="Exception"/>
        <tx:method name="*" propagation="REQUIRED" read-only="true"/>
    </tx:attributes>
</tx:advice>
<aop:config>    
    <aop:pointcut id="serviceMethod"  expression="execution(* team.waibao.serviceImpl.*.*(..))"/>
    <aop:advisor pointcut-ref="serviceMethod" advice-ref="txadvice"/>
</aop:config>
</beans>
